In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
d={'chicago':1000,'new york':1300, 'portland':900, 'austin':450,
   'boston':None}
cities = pd.Series(d)
cities

chicago     1000.0
new york    1300.0
portland     900.0
austin       450.0
boston         NaN
dtype: float64

In [3]:
type(cities)

pandas.core.series.Series

In [4]:
mask = cities < 1000
cities[mask]

portland    900.0
austin      450.0
dtype: float64

In [7]:
city=pd.DataFrame(d,index=np.arange(0,5))
city

Empty DataFrame
Columns: [city, pop]
Index: []

In [6]:
city2=pd.DataFrame()
city2['city']=d.keys()
city2['pop']=d.values()
city2

       city   pop
0   chicago  1000
1  new york  1300
2  portland   900
3    austin   450
4    boston  None

In [7]:
!ls -l *.xlsx

-rw-r--r--@ 1 djkim  staff  5480 Mar  1  2019 city.xlsx

In [8]:
city2.to_excel('city2.xlsx', index=False)

In [9]:
city=pd.read_excel('city2.xlsx','Sheet1')
city

       city     pop
0   chicago  1000.0
1  new york  1300.0
2  portland   900.0
3    austin   450.0
4    boston     NaN

In [25]:
from openpyxl import Workbook, load_workbook

In [11]:
wb=load_workbook('test.xlsm', keep_vba=True)

In [33]:
x1 = np.random.randn(100, 2)
df1 = pd.DataFrame(x1)
x2 = np.random.randn(100, 2)
df2 = pd.DataFrame(x2)

writer = pd.ExcelWriter('city2.xlsx', engine = 'xlsxwriter')
#writer = pd.ExcelWriter('test.xlsm', engine = 'xlsxwriter')
df1.to_excel(writer, sheet_name = 'x1')
df2.to_excel(writer, sheet_name = 'x2')
writer.save()
writer.close()

In [42]:
#overwrite but only portion
from openpyxl import Workbook, load_workbook
book=load_workbook('test.xlsm', keep_vba=True)
writer=pd.ExcelWriter('test.xlsm',engine='openpyxl')
writer.book=book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)
city2.to_excel(writer, sheet_name='city2', index=False, startrow=0)
writer.save()

In [46]:
#remove sheet and create (DJ choice)
from openpyxl import Workbook, load_workbook
book=load_workbook('test.xlsm', keep_vba=True)
del book['city2']
writer=pd.ExcelWriter('test.xlsm',engine='openpyxl')
writer.book=book
#writer.sheets = dict((ws.title, ws) for ws in book.worksheets)
city2.to_excel(writer, sheet_name='city2', index=False, startrow=0)
writer.save()