# pandas summary

## df.index, columns, values, dtypes
## df[mask][[columns]] = df.loc[mask,[columns]]
## df['e']=0, df.loc[mask,'e']=0, not df[mask,'e']=0
## df.mean(), apply(), describe(), plot(), hist()
## df.apply(np.cumsum) = np.cumsum(df)

In [1]:
import numpy as np
import pandas as pd

In [34]:
s=pd.Series(np.random.randn(10))
s

0    0.856757
1    2.069096
2    0.191514
3   -1.596903
4   -1.105910
5    1.291550
6    0.430418
7   -1.180342
8   -0.350740
9    0.868208
dtype: float64

In [3]:
dates=pd.date_range('20190301',periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('abcd'))
df.describe()

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean  -0.008828  0.156391 -0.483561  0.134188
std    1.651016  1.065224  1.046338  1.005857
min   -2.210410 -1.414450 -1.682431 -1.280472
25%   -1.026429 -0.332154 -1.220017 -0.364042
50%    0.032921  0.146046 -0.708790 -0.025964
75%    0.793051  0.708059  0.380285  0.895652
max    2.424721  1.656863  0.845763  1.411408

In [30]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [31]:
df.columns

Index(['a', 'b', 'c', 'd', 'i'], dtype='object')

In [42]:
A=df.values
print(A.shape)
A

(6, 5)

array([[0.33359952118541697, 2.227380967703229, -2.4206231848494384,
        0.5720793009230521, 'a'],
       [0.44859512516314315, 1.3850340245443626, 1.6522797087451548,
        0.3629145491713898, 'a'],
       [0.5076261136970892, -0.08097179655203272, 0.18168338569425213,
        -0.39574703489216567, 'b'],
       [-0.6462971864748555, -0.07285184798752137, 0.17200820071926387,
        0.5586396284880625, 'c'],
       [-0.6756321244360014, -0.05721202869496336, 0.26934830626174133,
        -0.7322657966529286, 'c'],
       [0.9939717709206196, -0.549135905165316, 0.0983455859724354,
        -0.516381175645762, 'c']], dtype=object)

In [43]:
#optional
df_np = np.array(df)
print(df_np.shape)
df_np

(6, 5)

array([[0.33359952118541697, 2.227380967703229, -2.4206231848494384,
        0.5720793009230521, 'a'],
       [0.44859512516314315, 1.3850340245443626, 1.6522797087451548,
        0.3629145491713898, 'a'],
       [0.5076261136970892, -0.08097179655203272, 0.18168338569425213,
        -0.39574703489216567, 'b'],
       [-0.6462971864748555, -0.07285184798752137, 0.17200820071926387,
        0.5586396284880625, 'c'],
       [-0.6756321244360014, -0.05721202869496336, 0.26934830626174133,
        -0.7322657966529286, 'c'],
       [0.9939717709206196, -0.549135905165316, 0.0983455859724354,
        -0.516381175645762, 'c']], dtype=object)

In [9]:
df.dtypes

a    float64
b    float64
c    float64
d    float64
e      int64
f      int64
h      int64
dtype: object

In [7]:
np.array(df.index)[0]

numpy.datetime64('2019-03-01T00:00:00.000000000')

In [8]:
df['e']=0
df['f']=0
df['h']=0
df

                   a         b         c         d  e  f  h
2019-03-01 -2.141976  0.323607  0.116856 -1.949674  0  0  0
2019-03-02 -1.053451 -1.328353 -0.548382  1.250541  0  0  0
2019-03-03 -1.364515  2.099598  0.473802 -1.396787  0  0  0
2019-03-04 -0.651955  0.636503  0.567210 -0.131950  0  0  0
2019-03-05 -0.267343  0.353506  1.320503 -0.654023  0  0  0
2019-03-06 -1.679535 -1.481433 -1.633783  0.880490  0  0  0

In [46]:
mask=df.a>0
df.loc[mask,:]

pandas.core.frame.DataFrame

In [47]:
df[mask]

pandas.core.frame.DataFrame

In [53]:
df1=df[mask][['a','b']]
df2=df.loc[mask,['a','b']]
print(type(df1))
print(df1)
print(type(df2))
print(df2)

<class 'pandas.core.frame.DataFrame'>
                   a         b
2019-03-01  0.333600  2.227381
2019-03-02  0.448595  1.385034
2019-03-03  0.507626 -0.080972
2019-03-06  0.993972 -0.549136
<class 'pandas.core.frame.DataFrame'>
                   a         b
2019-03-01  0.333600  2.227381
2019-03-02  0.448595  1.385034
2019-03-03  0.507626 -0.080972
2019-03-06  0.993972 -0.549136

In [58]:
df.loc[mask,'e']=20
#df[mask][['e',]]=20
df

                   a         b         c         d  i     e
2019-03-01  0.333600  2.227381 -2.420623  0.572079  a  20.0
2019-03-02  0.448595  1.385034  1.652280  0.362915  a  20.0
2019-03-03  0.507626 -0.080972  0.181683 -0.395747  b  20.0
2019-03-04 -0.646297 -0.072852  0.172008  0.558640  c   NaN
2019-03-05 -0.675632 -0.057212  0.269348 -0.732266  c   NaN
2019-03-06  0.993972 -0.549136  0.098346 -0.516381  c  20.0

In [14]:
df.iloc[1:3,2:4]

                   c         d
2019-03-02 -0.548382  1.250541
2019-03-03  0.473802 -1.396787

In [15]:
df.iloc[:,1].mean()

0.10057129113358505

In [16]:
df.mean()

a   -1.193129
b    0.100571
c    0.049368
d   -0.333567
e    0.000000
f    0.000000
h    0.000000
dtype: float64

In [17]:
df.apply(lambda x:x.max()-x.min())

a    1.874633
b    3.581032
c    2.954286
d    3.200214
e    0.000000
f    0.000000
h    0.000000
dtype: float64

In [18]:
np.cumsum(df)

                   a         b         c         d    e    f    h
2019-03-01 -2.141976  0.323607  0.116856 -1.949674  0.0  0.0  0.0
2019-03-02 -3.195427 -1.004746 -0.431526 -0.699133  0.0  0.0  0.0
2019-03-03 -4.559943  1.094852  0.042276 -2.095920  0.0  0.0  0.0
2019-03-04 -5.211898  1.731355  0.609486 -2.227870  0.0  0.0  0.0
2019-03-05 -5.479241  2.084861  1.929989 -2.881893  0.0  0.0  0.0
2019-03-06 -7.158777  0.603428  0.296206 -2.001403  0.0  0.0  0.0

In [8]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.random.randn(6,4),columns=['a','b','c','d'])
df.to_pickle('df.pkl')

In [10]:
df=pd.read_pickle('df.pkl')
df

          a         b         c         d
0  1.965637  0.067562 -0.959731 -0.275116
1  0.782843 -0.091300 -0.466602 -0.087661
2  0.691922  0.138606 -0.112042  1.335879
3  2.632934  0.287651  1.405667 -0.440442
4  0.265497  1.863874  2.308320  0.658063
5 -0.226304  0.009787 -1.066971 -0.212192

In [19]:
df=pd.DataFrame(np.random.randn(6,4),columns=list('abcd'))
df

          a         b         c         d
0 -1.024136 -0.217410  1.202737  1.250108
1  1.048150  0.990060  0.212823 -0.517872
2  0.952598  1.511956  0.985295 -0.676874
3 -0.351242  1.028793  1.027572  0.743060
4  0.043556 -0.576247 -0.158523 -1.757610
5  0.381114  0.143481  0.634805 -0.166957

In [20]:
df2=pd.DataFrame(np.random.rand(6,2),columns=list('ef'))
df2

          e         f
0  0.513565  0.510996
1  0.462759  0.281036
2  0.069767  0.097999
3  0.758187  0.177906
4  0.138382  0.777914
5  0.885181  0.607872

In [21]:
df3=pd.concat([df,df2],axis=1)
df3

          a         b         c         d         e         f
0 -1.024136 -0.217410  1.202737  1.250108  0.513565  0.510996
1  1.048150  0.990060  0.212823 -0.517872  0.462759  0.281036
2  0.952598  1.511956  0.985295 -0.676874  0.069767  0.097999
3 -0.351242  1.028793  1.027572  0.743060  0.758187  0.177906
4  0.043556 -0.576247 -0.158523 -1.757610  0.138382  0.777914
5  0.381114  0.143481  0.634805 -0.166957  0.885181  0.607872

In [22]:
df4=pd.DataFrame(np.random.rand(2,4),columns=list('abcd'))
df4

          a         b         c         d
0  0.417627  0.392246  0.159391  0.353617
1  0.980272  0.174365  0.071834  0.005965

In [23]:
dff=pd.concat([df,df4],ignore_index=True)
dff

          a         b         c         d
0 -1.024136 -0.217410  1.202737  1.250108
1  1.048150  0.990060  0.212823 -0.517872
2  0.952598  1.511956  0.985295 -0.676874
3 -0.351242  1.028793  1.027572  0.743060
4  0.043556 -0.576247 -0.158523 -1.757610
5  0.381114  0.143481  0.634805 -0.166957
6  0.417627  0.392246  0.159391  0.353617
7  0.980272  0.174365  0.071834  0.005965

In [38]:
df['i']=list('aabccc')

In [25]:
df.groupby('i').sum()

          a         b         c         d
i
a  0.024014  0.772650  1.415560  0.732237
b  0.952598  1.511956  0.985295 -0.676874
c  0.073428  0.596027  1.503854 -1.181507

In [26]:
pd.read_excel('city.xlsx')

       city     pop
0   chicago  1000.0
1  new york  1300.0
2  portland   900.0
3    austin   450.0
4    boston     NaN

In [27]:
df.to_csv('test.csv',index=False)